*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}



.container{
    padding: 10px;
   
        display: flex;
        justify-content:center; /* Alinea horizontalmente en el centro */
        align-items: center; /* Alinea verticalmente en el centro */
        height: 40px;
        margin-top: 10px;
      
}

.container__button{
    padding: 5px 15px;
    margin-left: 10px;
    border-radius: 20px;
}

.container__button{
    padding: 4px 25px;
    font-size: 14px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: 2px solid rgb(255, 47, 255);
    background-color: rgba(93, 193, 185, 0.7);
    color: rgb(50, 48, 48);
    border-radius: 15px;
  }

.searchbar{
    padding: 10px;
}