.inputId {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(241, 241, 93);
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
  }
  
  .buttonAgregar {
    padding: 4px 25px;
    font-size: 14px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: 2px solid rgb(255, 47, 248);
    background-color: rgba(93, 193, 185, 0.7);
    color: rgb(8, 3, 3);
    border-radius: 10px;
  }
  
  .inputId::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(145, 145, 145);
  }
  
  .inputId:focus {
    outline: none;
    background-color: dimgrey;
  }
  
.container{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
}

.container {
  display: flex;
  justify-content:center; /* Alinea horizontalmente en el centro */
  align-items: center; /* Alinea verticalmente en el centro */
  height: 40px;
}